:root {
    --bg-color: #000000;
    --card-bg: #0a0a0a; /* Tu color original */
    --text-primary: #ffffff;
    --text-secondary: #888888;
    --border-color: #333333;
    --accent-color: #0070f3; /* Azul Vercel */
    --success-color: #00C851; /* O un cian #50e3c2 */
    --error-color: #ff4d4f;
    --warning-color: #f5a623;
}

@font-face { font-family: "Geist Sans"; src: url("font/Geist-Light.woff2") format("woff2"); font-weight: 300; font-display: swap; }
@font-face { font-family: "Geist Sans"; src: url("font/Geist-Regular.woff2") format("woff2"); font-weight: 400; font-display: swap; }
@font-face { font-family: "Geist Sans"; src: url("font/Geist-Medium.woff2") format("woff2"); font-weight: 500; font-display: swap; }
@font-face { font-family: "Geist Sans"; src: url("font/Geist-SemiBold.woff2") format("woff2"); font-weight: 600; font-display: swap; }
@font-face { font-family: "Geist Sans"; src: url("font/Geist-Bold.woff2") format("woff2"); font-weight: 700; font-display: swap; }

html, body {
    height: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Geist Sans", sans-serif;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    color: var(--text-primary);

    margin: 0;
    padding: 0;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    padding: 0.7rem 1.4rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;

    width: 100%;
    max-width: 200px;

    text-decoration: none;
    cursor: pointer;
    transition: all 0.18s ease;
    border: 1px solid rgba(255, 255, 255, 0.15);
    /* Variables internas */
    --btn-bg: #0a0a0a;
    --btn-color: #f5f5f5;
    --btn-bg-hover: #1a1a1a;
    --btn-active: #0072f5;

    background-color: var(--btn-bg);
    color: var(--btn-color);
}
